
h1, h3, p {
    color:black;
    font-family: 'Audiowide', sans-serif;
}

#image2 {
    padding-left: 200px;
}

#image3 {
    padding-left: 300px;
}

#CaristaInfo,
#AppInfo {
    text-align: center;
}