
#google {
    width:258; 
    height:100;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

iframe{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#CaristaInfo,
#AppInfo {
    text-align: center;
}


h3,h2,p {
    color:black;
    font-family: 'Audiowide', sans-serif;
    font-size:20
}

.jumbotron {
    background-image: url("Assets/Eco banner.png");
    background-position:center;
    background-size: cover;
    color:black;
    font-family: 'Audiowide', sans-serif;
}

.jumbotron h1 {
    padding-top: 300;
    text-align: center;
}

header {

  font-family: 'Audiowide', sans-serif;
}

.form-inline {
    padding-top:20;
}

.row {
    position:absolute
}
