body {
    background-color:#eff0f2 !important;
}
#google {
    width:258; 
    height:100;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

iframe{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#CaristaInfo,
#AppInfo {
    text-align: center;
}

p {
    color:black;
    font-family: 'Audiowide', sans-serif;
    font-size:20
}

.jumbotron {
    background-image: url("Assets/Eco banner.png");
    background-position:center;
    background-size: cover;
}

.jumbotron h1 {
    padding-top: 300;
    text-align: center;
}

header {

  font-family: 'Audiowide', sans-serif;
  color:white;
  background-color:darkslategray
}

.form-inline {
    padding-top:20;
}

.row {
    position:absolute
}
.container {
    font-family: 'Audiowide', sans-serif;
    display:block;
}
iframe{
    float:right;
    clear:left;
    justify-content: flex-end
}
